#################
# Deferred      #
#################

design/
src/ChaosDbg/Modules/Shell/
src/MSTestMonitor/

# Graph
Graph/
GraphTests.cs
GraphTestState.cs
InstrFactory.cs
DisasmGraphTests.cs

# Pattern
PEModuleMetadataPatternTests.cs
PrePostConditionFunctionPattern.cs

# Analysis
PEModuleMetadataTests_old.cs

# PowerShell
src/ChaosDbg.Engine/Services/PowerShell/Debugger/

# Decompiler
CSharpDecompiler.cs

#################
# Visual Studio #
#################

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# NuGet Packages Directory
packages/

# NuGet Packages
*.nupkg
*.snupkg
*.zip

# MSBuild logs
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/

# BenchmarkDotNet
BenchmarkDotNet.Artifacts/

# ReSharper settings
*.DotSettings
.idea/

# User-specific files
.vs/
*.user
launchSettings.json

####################
# Windows detritus #
####################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

##################
# MacOS detritus #
##################

# Folder config file
.DS_Store